<%- include('../partials/header.ejs') %> 
<body>
    <%- include('../partials/navbarAdmin.ejs') %> 
    <div class="container">
        <div class="controls">
            <a href="/admin/recipes/create" class="btn">Adicionar nova Receita</a>
            <a href="/admin/recipe/edit/<%= recipe.id %>" class="btn">Editar Receita</a>
            <form action="/recipe/delete" method="post" class="delete">
                <input type="hidden" name="id" value="<%= recipe.id %>" />
                <button class="btn">Excluir Receita</button>
            </form>

        </div>
        <div class="card">
            <div class="card-header">
                <h1><%= recipe.title %></h1>
            </div>
            <div class="card-body">
                <p>
                    <%- recipe.body %>
                </p>    
            </div>
        </div>
    </div>

</body>
<%- include('../partials/footer.ejs') %> 